.comments {
  color: $color-text-light;
  background-color: $color-card-bg;
  padding: 20px 0;
  border-radius: 15px;
  min-width: 70vmin;

  &__header {
    padding: 0px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $color-comments-border;
  }

  &__content {
    background-color: $color-card-bg;
    filter: brightness(1.13);
    padding: 20px;
  }

  &__empty {
    opacity: 0.2;
    margin: 0;
    margin-bottom: 25px;
  }

  &__btn {
    color: $color-text-light-2;

    &--close,
    &--add {
      &:hover,
      &:focus {
        color: $color-other-2;
      }
      &:active {
        opacity: 0.6;
      }
    }

    &--close {
      &:hover,
      &:focus {
        color: $color-error;
      }
    }
  }
}
