.project-editor {
  display: flex;
  margin: 0 auto;
  background-color: $color-bg-dark;

  &__fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__label {
    grid-column: span 2;
    margin: 5px 0 7px;
    color: $color-text-light;
  }

  &__title-input {
    grid-column: span 2;
    padding: 10px;
  }

  &__description-input {
    grid-column: span 2;
    padding: 10px;
    min-height: 200px;
    margin-bottom: 20px;
  }

  &__button {
    color: $color-text-light;
  }

  input + label {
    margin-top: 20px;
  }
}
