.project-card {
  padding: 15px;
  background-color: $color-card-bg;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__link {
    text-decoration: none;
    color: $color-text-light;
  }

  &__title {
    color: $color-text-light;
    font-size: 1.2rem;
    margin: 0;
  }

  &__description {
    font-size: 1rem;
    grid-column: span 2;
  }

  &__time {
    font-size: 0.8rem;
  }

  &__button {
    background-color: transparent;
    border: 2px solid $color-border-light;
    color: inherit;
    cursor: pointer;
  }
}
