.project-card {
  display: grid;
  grid-template-columns: 1fr 1fr 30%;
  min-height: 110px;
  padding: 15px;
  background-color: $color-card-bg;
  height: 100%;
  border-radius: 10px;
  box-shadow: $shadow-light;
  transition: ease 0.4s;
  border: 2px solid $color-project-border;
  user-select: none;
  will-change: all;

  container-type: inline-size;

  &__link {
    grid-row: 1;
    grid-column: 3;
    margin-top: 10px;
    display: flex;
    justify-self: end;
    align-self: flex-start;
    outline-offset: -2px;
    text-align: center;
    text-decoration: none;
    color: $color-text-light;
    font-size: 0.6em;
    transition: ease 0.3s;
    &:focus {
      animation: horizontal-shaking 2s ease infinite;
    }
  }

  &:hover &__link {
    color: $color-success;
    animation: horizontal-shaking 2s ease infinite;
  }

  &:hover,
  &:focus {
    background: linear-gradient(-45deg, #6f3726, #6f1e3d, #12566f, #10614e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    transform: scale(1.03);
    border-color: $color-other;
  }

  &__title {
    text-align: center;
    grid-column: span 2;
    color: $color-text-light;
    font-size: 1.2em;
    margin: 15px 15px 10px;
    word-wrap: break-word;
  }

  &__description {
    text-align: center;
    font-size: 0.8em;
    grid-column: span 2;
    word-wrap: break-word;
    color: $color-text-light-2;
    margin: 0 15px 8px;
  }

  &__time {
    grid-column: 3;
    grid-row: 2;
    justify-self: end;
    font-size: 0.8em;
  }

  &__button {
    background-color: transparent;
    color: inherit;
    justify-self: center;
    padding: 10px;
    cursor: pointer;
    transition: ease 0.3s;
    & .svg {
      display: block;
      width: 1.6em;
      height: 1.6em;
    }
  }

  &__button--delete {
    &:hover,
    &:focus {
      color: $color-error;
    }
  }

  &__button--settings {
    &:hover,
    &:focus {
      color: $color-other;
      animation: rotating 3s infinite linear;
    }
  }

  &__controls-wrapper {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    grid-column: 3;
    grid-row: 3;
    font-size: 0.7em;
  }

  @container (min-width: 200px) {
    &__controls-wrapper {
      font-size: 0.8em;
    }
  }

  &__controls {
    display: grid;
    align-items: center;
    justify-content: center;
    transform: translateX(100px);
    transition: ease 0.3s;
  }
}
