.sub-task {
  &__label {
    position: relative;
    display: flex;
    font-size: 1.5rem;
    padding-left: 2rem;
    align-items: center;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: 0.1em;
      width: 1em;
      height: 1em;
      border: 2px solid $color-border-light;
      border-radius: 5px;
    }

    &::after {
      position: absolute;
      content: '';
      display: none;
      left: 0.35em;
      top: 0.15em;
      width: 0.3em;
      height: 0.6em;
      border-bottom: 0.15em solid $color-success;
      border-right: 0.15em solid $color-success;
      transform: rotate(50deg);
    }
  }
  &__input:disabled + &__label {
    opacity: 0.3;
  }
  &__input:checked + &__label {
    color: $color-success;
  }
  &__input:checked + &__label::before {
    border-color: $color-success;
  }

  &__input:checked + &__label::after {
    display: block;
  }
}
