.task {
  display: grid;
  padding: 5px 15px;
  color: $color-text-dark;
  background-color: $color-task-bg;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04),
    0 0 1px rgba(0, 0, 0, 0.04);
  position: relative;

  &__title {
    color: $color-text-dark;
    margin-bottom: 10px;
  }

  & + & {
    margin-top: 20px;
  }

  &__expander {
    overflow: hidden;
    transition: ease 0.3s;
  }

  &__expander--active {
    height: 1px;
  }
  &__expand-button {
    position: absolute;
    right: 5px;
    top: 1.45em;
    font-size: 0.6em;
  }
}
