.header {
  display: flex;
  padding: 10px;
  background-color: rgb(143, 189, 198);
  border-bottom: 3px solid rgb(163, 163, 163);
  align-items: center;

  &__project-id {
    margin-left: auto;
  }
}
