.header {
  display: flex;
  padding: 10px;
  background-color: $color-card-bg;
  border-bottom: 3px solid $color-bg-dark;
  align-items: center;

  &__project-id {
    margin-left: auto;
    margin-right: 10px;
    font-size: 18px;
    display: grid;
    :nth-child(1) {
      font-size: 0.8em;
    }
    :nth-child(2) {
      color: $color-other;
    }
  }
}
