$color-bg-dark: #282c34;
$color-text-light: #e4e4e4;
$color-text-light-2: #c1bdbd;
$color-text-dark: #333333;
$color-border-light: #dce6fb;
$color-card-bg: #3a444e;
$color-modal-bg: #160c30a9;
$color-board-bg: #aabbdb;
$color-task-bg: #e1e1e1;
$color-success: #90ee90;
$color-error: #ff5d5d;
$color-other: #fdb225;
$color-other-2: #ffe208;
$color-project-border: #211b1b;
$color-comments-border: #46505b;

$color-board-col1: #3a556d;
$color-board-col2: #4c5a6c;
$color-board-col3: #657992;
$color-column-bg: #456a88;

$shadow-light: 0 10px 20px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04),
  0 0 1px rgba(0, 0, 0, 0.04);
