$color-bg-dark: #282c34;
$color-text-light: #e4e4e4;
$color-text-dark: #333333;
$color-border-light: #dce6fb;
$color-card-bg: #3a444e;
$color-modal-bg: #160c30a9;
$color-board-bg: #aabbdb;

$shadow-light: 0 10px 20px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04),
  0 0 1px rgba(0, 0, 0, 0.04);
